@media print {
    #aboutus{
        display: none;
    }
    #copyrights{
        display: none; 
    }
    #hidden-navbar{
        display: none;   
    }
    #sticky-navbar{
        display: none;   
    }
}